{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Employee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NOMBRE EMPLEADOR</th>
                <th>CEDULA EMPLEADOR</th>
                <th>DIRECCIÓN EMPLEADOR</th>
                <th>NOMBRE EMPLEADO</th>
                <th>CEDULA EMPLEADO</th>
                <th>TIPO CONTRATO</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            {% if employee.boss %}
                <tr>
                    <td>{{ employee.boss.name }}</td>
                    <td>{{ employee.boss.identificationNumber }}</td>
                    <td>{{ employee.boss.address }}</td>

                    <td>{{ employee.name }}</td>
                    <td>{{ employee.identificationNumber }}</td>
                    <td>{{ employee.typeOfContract }}</td>
                </tr>
            {% endif %}

        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employee_new') }}">Create new</a>
{% endblock %}
